$color-white: #fff;
$color-black: #000;
$color-orange-dark: #cf6d17;
$color-orange-light: #e67e22;
.nav {
  background-color: $color-black;
  position: fixed;
  width: 100%;
  z-index: 200;
  &Checkbox {
    display: none;
  }

  &Label {
    display: none;
  }
  &List {
    display: flex;
    float: right;
    list-style: none;
    & li {
      text-decoration: none;
      color: $color-white;
      font-family: inherit;
      cursor: pointer;
      &:not(:last-child) {
        margin-right: 2rem;
      }
      &::after {
        content: " ";
        height: 2px;
        display: block;
        background-color: $color-orange-dark;
      }
    }
  }
}
a {
  text-decoration: none;
  color: $color-white;
  font-family: inherit;
}
.header {
  &Link {
    text-decoration: none;
    color: $color-white;
    font-family: inherit;
  }
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.46)),
      to(rgba(0, 0, 0, 0.46))
    ),
    url("https://cdn.dribbble.com/users/1510508/screenshots/3983260/forreststar-1.gif");
  background-image: linear-gradient(rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)),
    url("https://cdn.dribbble.com/users/1510508/screenshots/3983260/forreststar-1.gif");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 90vh;
  color: $color-white;
  position: relative;
  font-size: 3rem;
  text-align: center;
  &Text {
    font-size: 5.5rem;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}

.btn {
  color: $color-white;
  padding: 1rem 3rem;
  font-family: inherit;
  display: inline-block;
  text-transform: uppercase;
  transition: all 0.2s;
  outline: none;
  border: 1px solid $color-orange-light;
  background-color: $color-orange-dark;
  // margin-right: 15px;
  position: relative;

  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    border: 1px solid $color-orange-light;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.5s;
    background-color: $color-orange-dark;
  }
  &:hover {
    background-color: $color-orange-light;
  }
  &:hover::after {
    opacity: 0;
    transform: scaleX(1.4) scaleY(1.6);
  }
}

@media only screen and (max-width: 860px) {
  .header {
    &Link:first-of-type {
      color: $color-white;
    }
    &Text {
      font-size: 4rem;
    }
  }
  .nav {
    &Label {
      float: right;
      display: block;
    }
    &List {
      display: none;
    }

    &Checkbox:checked + &List {
      display: block;
      padding: 1.5rem 3rem;
      background-color: $color-black;
      margin-top: 3rem;
      margin-right: -3rem;
      & li {
        color: $color-white;
      }
    }
  }
}
@media only screen and (max-width: 859px) {
  .header {
    &Text {
      font-size: 3rem !important ;
      top: 20%;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .header {
    &Text {
      font-size: 5rem;
    }
  }
}
