@import url("https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css?family=Righteous&display=swap");

.section3 {
  padding: 10px;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  font-family: "Permanent Marker", cursive;
  text-align: center;
  color: #000;
}

.portfolioh3tag {
  font-family: "Permanent Marker", cursive;
  text-align: center;
  color: #000;
  font-size: 35px;
}

.btn {
  color: #fff;
  padding: 10px 20px;
  font-family: inherit;
  font-size: 60%;
  margin: 10px 0;
  border: 1px solid #cf6d17;
  background-color: #cf6d17;
}

.main {
  margin: 20px 1.6%;
  overflow: hidden;
  position: relative;
}

.main .section3Img {
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: -webkit-transform 200ms ease-in;
  transition: -webkit-transform 200ms ease-in;
  transition: transform 200ms ease-in;
  transition: transform 200ms ease-in, -webkit-transform 200ms ease-in;
  height: 100%;
  width: 90%;
}

.main:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.show {
  background-color: #cf6d17;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
  width: 100%;
  height: 100%;
}

.main:hover .show {
  opacity: 1;
}

.btn:hover {
  color: #000;
  border: 1px solid #fff;
  background-color: #fff;
}

@media only screen and (max-width: 850px) {
  .section3 {
    font-family: "Righteous", cursive;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .portfolioh3tag {
    font-family: "Righteous", cursive;
  }

  .main:focus .show {
    opacity: 1;
  }

  .main:focus img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}