@import url("https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css?family=Righteous&display=swap");
.section1 {
  padding: 20px;
  font-family: "Permanent Marker", cursive;
  font-size: 30px;
  text-align: center;
  color: #000;
}
h3 {
  font-size: 130%;
  text-align: center;
  text-decoration: underline;
  margin: 10px 0;
}
.P {
  font-size: 90%;
}
@media only screen and (max-width: 860px) {
  .section1 {
    font-family: "Righteous", cursive;
  }
  .P {
    font-size: 80%;
  }
}
