$color-black: #000;
$color-orange-light: #e67e22;
.section1 {
  padding: 1rem;
  font-size: 3rem;
  text-align: center;
  margin-top: 2rem;
  color: $color-black;
  &Heading {
    font-size: 5rem;
    text-align: center;
  }
  &Link {
    color: $color-black;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 90%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 4px;
      width: 90%;
      background-color: $color-orange-light;
    }
  }
  &FlexParent {
    display: flex;
  }
  &Text {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 860px) {
  .section1 {
    &FlexParent {
      flex-wrap: wrap;
    }
    &Text {
      font-size: 2.5rem;
    }
  }
}
