@import url("https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css?family=Righteous&display=swap");
footer {
  background-color: #000;
  font-size: 30px;
  font-family: "Permanent Marker", cursive;
  text-align: center;
  color: #fff;
}
.h4 {
  font-size: 100%;
  padding: 20px;
}
small {
  color: red;
}
.flexParent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px;
}
.icon {
  font-size: 120%;
}
.twitter:hover {
  color: #1da1f2;
}
.github:hover {
  color: #333;
}
.mail:hover {
  color: #c71610;
}
@media only screen and (max-width: 846px) {
  footer {
    font-family: "Righteous", cursive;
  }
  .flexParent {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
