@import url("https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap");
.section2 {
  padding: 10px;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  font-family: "Permanent Marker", cursive;
  background-color: #edf0f1;
  text-align: center;
  color: #000;
  margin: 0 10px;
}

.paragraph {
  font-size: 90%;
  margin-top: 10px;
}
.img {
  height: 50px;
}
.span {
  display: block;
}
@media only screen and (max-width: 860px) {
  .section2 {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .img {
    margin: 30px 0;
  }
}
