$color-black: #000;
$color-white-dark: #edf0f1;

.section2 {
  padding: 1rem;
  font-size: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: $color-black;
  margin: 0 1rem;

  &Image {
    width: 8%;
    height: 100%;
  }
}

@media only screen and (max-width: 860px) {
}
